<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>OnlineVotes</title>
</head>
<body>
<form action="" method="post">
    <fieldset>
        <legend>Please Login</legend>
        <div th:if="${param.error != null}">
            Failed to login.
            <div th:if="${SPRING_SECURITY_LAST_EXCEPTION != null}">
                Reason: <span th:text="${SPRING_SECURITY_LAST_EXCEPTION.message}"></span>
            </div>
        </div>
    </fieldset>
</form>
</body>
</html>